@font-face {
 font-weight: normal;
 font-style: normal;
 font-variant: normal;
 font-family: 'Zona';
 src: url('../fonts/ZonaPro-Thin.eot?') format('eot'), 
      url('../fonts/ZonaPro-Thin.woff') format('woff'), 
      url('../fonts/ZonaPro-Thin.ttf')  format('truetype'),
      url('../fonts/ZonaPro-Thin.woff2') format('woff2');
}

@font-face {
 font-weight: strong;
 font-style: strong;
 font-variant: strong;
 font-family: 'Zona-S';
 src: url('../fonts/ZonaPro-Bold.eot?') format('eot'), 
      url('../fonts/ZonaPro-Bold.woff') format('woff'), 
      url('../fonts/ZonaPro-Bold.ttf')  format('truetype'),
      url('../fonts/ZonaPro-Bold.woff2') format('woff2');
}

* {
	box-sizing: border-box;
}

.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

:root {
	--transpatent: rgba(255,255,255,.0);
	--semi-transparent: rgba(255,255,255,.6);
	--white-color: rgb(255,255,255);
	--light-color: rgb(239,239,239);
	--middle-color: rgb(253,169,54);
	--dark-color: rgb(255,69,0);
	--black-color: rgb(0,0,0);
}

body {
	text-align: center;
    user-select: none;
	font-family: 'Zona', sans-serif;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

section {
	padding: 80px 0 120px; 
}

[class*="col-"] {
	float: left;
	min-height: 1px;
}

/*headers*/

h1 {
	font-size: 56px;
	padding-bottom: 40px;
}

h2,
h3,
h4,
h5,
h6,
.contact_header {
	font-size: 56px;
	padding-bottom: 80px;
}

[class*="_title"] {
	font-size: 18px;
	padding-bottom: 40px;
}

.bold_text {
	font-family: 'Zona-S', sans-serif; 
}

/*nav*/

.topnav {
    overflow: hidden;
    text-align: center;
    position: fixed;
    background-color: var(--white-color);
	width: 100%;
	z-index: 3;
	border-bottom: 2px solid var(--dark-color);
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
	color: var(--dark-color);
}

.topnav .icon {
    display: none;
}

/*first*/

#first {
	background-image: url(../images/h3.jpg);
	text-align: left;
    padding-top: 150px;
	animation: ruch 10s linear infinite alternate;
}

@keyframes ruch {
	0% { background-position:0 0, 0 0, 0 0; }
	100% { background-position: -100px 0, 400px 0, -300px 0; }
}

.first_header {
	font-size: 20px;
	padding-bottom: 20px;
	line-height: 25px;
	font-weight: bold;
}

.first_describe {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px;
}

.main_btn1 p {
	margin: 30px 20px 30px 0;
	width: 15%;
	padding: 10px 0;
	background-color: var(--dark-color);
	border-radius: 1rem;
	font-size: 15px;
}

.main_btn2 p {
	margin: 30px 20px 30px 0;
	width: 15%;
	padding: 10px 0;
	background-color: var(--middle-color);
	border-radius: 1rem;
	font-size: 15px;
}

.main_btn1,
.main_btn2 {
	cursor: pointer;
	text-decoration: none;
	color: var(--black-color);
	text-align: center;
}

.main_btn1 p:hover {
	background-color: var(--middle-color);
}

.main_btn2 p:hover {
	background-color: var(--dark-color);
}

.buttons {
	width: 50%;
}

/*second*/

h2 {
	padding-top: 80px;
}

.skills_div {
	padding: 40px 20px 20px;
	height: 300px;
	border-radius: 1rem;
	display: grid;
}

.skills_grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 1fr;
}

.skills_div:first-child {
	background-color: var(--middle-color);
}

.skills_div:nth-child(2) {
	background-color: var(--light-color);
}

.skills_div:last-child {
	background-color: var(--dark-color);
}

.skills_div:first-child:hover {
	background-color: var(--white-color);
	border: 2px solid var(--middle-color);
}

.skills_div:nth-child(2):hover {
	background-color: var(--white-color);
	border: 2px solid var(--light-color);
}

.skills_div:last-child:hover {
	background-color: var(--white-color);
	border: 2px solid var(--dark-color);
}

.skills_div:hover .skills_describe {
	display: block;
}

.skills_div:hover .see_more {
	display: none;
}

.skills_div:hover .skills_header {
	font-size: 35px;
	line-height: 35px;
	padding-top: 20px;
}

.skills_header {
	font-size: 58px;
	line-height: 35px;
	padding-top: 80px;
}

.skills_describe {
	line-height: 25px;
	font-size: 16px;
	padding: 10px 0 80px;
	display: none;
}

/*third*/

#third {
	background-image: url(../images/h3.jpg);
	text-align: left;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.tech_grid {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(5,120px);
	grid-template-rows: repeat(3,120px);
	justify-content: center;
}

.tech_img {
	display: grid;
	border-radius: 1rem;
	background-color: var(--white-color);
}

.tech_img img {
	margin: 3px auto;
}

.tech_img p {
	margin: 0 auto 5px;
}

.tech_img:hover {
	transform: scale(1.2);
	color: var(--dark-color);;
}

/*four*/

.title_work {
	font-size: 18px;
	padding: 10px 0;
}

.four_grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 2fr 1.5fr 2.5fr 1.5fr;
	grid-template-rows: 150px 200px 150px;
	margin-bottom: 200px;
}

[class*="w_"] {
	display: grid;
	border-radius: 1rem;
	background-image: url(../images/h3.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}

.w-bg {
	background-color: var(--semi-transparent);
	padding: 20px;
	border-radius: 1rem;
	border: 3px solid var(--dark-color);
}

.w-bg:hover {
	background-color: var(--middle-color);
}

.w-bg9 {
	background-color: var(--white-color);
}

.w_11 {
	height: 170px;
}

.work_btn_text {
	padding: 5px 0;

}

.work_btn {
	font-size: 15px;
	text-decoration: none;
	color: var(--black-color);
	cursor: pointer;
}

.work_btn_text_github {
	padding: 10px;
	background-color: var(--dark-color);
	width: 30%;
	border-radius: 1rem;
	margin: 80px auto 0;
}

.work_btn_text_github:hover {
	background-color: var(--middle-color);
}

.work_btn_github {
	text-decoration: none;
	color: var(--black-color);
	cursor: pointer;
}

/*fifth*/

#fifth {
	background-image: url(../images/h3.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
	background-color: var(--semi-transparent);
	padding: 10%;
	border-radius: 1rem;
}

.item:hover {
	background-color: var(--white-color);
}

.fifth_grid {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(2,1fr);
}

.item img {
	padding-bottom: 20px;
}

[class*="a_"] {
	padding-top: 20px;
	font-weight: bold;
}

.work_btn_text_about {
	padding: 10px;
	margin: 80px auto 0;
	background-color: var(--dark-color);
	width: 25%;
	border-radius: 1rem;
}

.work_btn_text_about:hover {
	background-color: var(--middle-color);
}

.work_btn_about {
	text-decoration: none;
	color: var(--black-color);
	cursor: pointer;
	font-size: 15px;
}

/*sixth*/

.courses_grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 2fr 3fr;
}

[class*="c_"] {
	display: grid;
	padding: 20px;
}

.courses_title,
.courses_describe {
	text-align: left;
}

.courses_describe {
	line-height: 25px;
}

.courses_number {
	font-size: 110px;
	color: var(--middle-color);
	text-align: right;
	padding-right: 20px;
}

.course_btn_text {
	padding: 10px;
	width: 50%;
	background-color: var(--dark-color);
	margin: 20px 0 40px;
	text-align: center;
	cursor: pointer;
	border-radius: 1rem;
	margin-left: 5%;
}

.course_btn_text:hover {
	background-color: var(--middle-color);
}

.course_btn {
	font-size: 15px;
	text-decoration: none;
	color: var(--black-color);
}

/*seventh*/

#seventh {
	background-image: url(../images/h3.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr;
}

.contact_box {
	display: grid;
}

[class*="_form"] {
	margin: 10px auto;
	resize: none;
	outline: none;
    border: none;
    background-color: var(--middle-color);
    border-radius: 1rem;
    font-family: 'Zona-pro', sans-serif;
    text-align: center;
}

[class*="_form"]:focus {
	border: 2px solid var(--dark-color);
	transform: scale(1.2);
}

.contact_btn {
    background-color: var(--dark-color);
	padding: 10px;
	margin-top: 20px;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 1rem;
	cursor: pointer;
}

.contact_btn:hover {
	background-color: var(--middle-color);
}

#name::-webkit-input-placeholder { color:var(--black-color); }
#name::-moz-placeholder { color:var(--black-color); }
#name:-ms-input-placeholder { color:var(--black-color); }

#email::-webkit-input-placeholder { color:var(--black-color); }
#email::-moz-placeholder { color:var(--black-color); }
#email:-ms-input-placeholder { color:var(--black-color); }

#number::-webkit-input-placeholder { color:var(--black-color); }
#number::-moz-placeholder { color:var(--black-color); }
#number:-ms-input-placeholder { color:var(--black-color); }

#company::-webkit-input-placeholder { color:var(--black-color); }
#company::-moz-placeholder { color:var(--black-color); }
#company:-ms-input-placeholder { color:var(--black-color); }

#message::-webkit-input-placeholder { color:var(--black-color); }
#message::-moz-placeholder { color:var(--black-color); }
#message:-ms-input-placeholder { color:var(--black-color); }

footer {
	height: 50px;
	background-color: var(--white-color);
	border-top: 2px solid var(--dark-color);
}

.scroll_btn {
	position: absolute;
	right: 1%;
	position: fixed;
	bottom: 1%;
}

.scroll_btn button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--middle-color);
	border-radius: 1rem;
	display: none;
}

.arrow-up {
	padding: 10px;
}

footer {
	padding: 10px
}

/*responsive*/

@media (min-width: 992px) and (max-width: 1199px) {

	.container {
		max-width: 900px;
	}
}

@media (min-width: 767px) and (max-width: 992px) {

	.container {
		max-width: 700px;
		margin: 0 auto;
	}

	h2,
	h3,
	h4,
	h5,
	h6,
	.contact_header {
		font-size: 46px;
		padding-bottom: 80px;
	}

	.skills_grid {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: 1fr 1fr;
		margin-bottom: 100px;
	}

	.topnav a {
    	padding: 20px 10px;
	}

	.fifth_grid {
		display: grid;
		grid-gap: 40px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4,1fr);
	}

}

@media (max-width: 767px) {

	.container {
		max-width: 600px;
		margin: 0 auto;
	}

	.topnav a.icon {
	    float: right;
	    display: block;
	    position: fixed;
	    background-color: var(--white-color);
	    width: 100%;
	}

	.topnav a:first-child {
		padding-left: 45px;
	}

	.topnav.responsive {
		position: fixed;
	}

	.topnav.responsive a {
		display: block;
		background-color: var(--white-color);
	    width: 100%;
	    padding: 15px 10px;
	}

	.topnav.responsive a:last-child {
		border top: 3px solid var(--dark-color);
	}

	h2,
	h3,
	h4,
	h5,
	h6,
	.contact_header {
		font-size: 36px;
		padding-bottom: 80px;
	}

	#first {
		padding: 80px 20px;
	}

	.main_btn p {
		width: 100px;
		margin-right: 10px;
	}

	.topnav a,
	.w_9,
	.courses_number {
		display: none;
	}

	.skills_grid {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3,1fr);
		margin-bottom: 100px;
	}

	.tech_grid {
		display: grid;
		grid-gap: 40px;
		grid-template-columns: repeat(2,120px);
		grid-template-rows: repeat(8,120px);
		justify-content: center;
	}

	.four_grid {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(11,1fr);
		margin-bottom: 200px;
	}

	.fifth_grid {
		display: grid;
		grid-gap: 40px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8,1fr);
	}

	.c_1,
	.c_3 {
		display: none;
	}

	.courses_grid {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr;
	}

	.contact_box:last-child {
		display: none;
	}

	.contact_grid {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}
